/* GLOBAL */
body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    /* background-image: url('./images/trixion-sky-clean.png'); */
    /* background: black; */
    /* background-color: gray; */
    zoom: 1.5;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* border: solid black; */
    min-height: 100%;
}

html {
    background-image: linear-gradient(90deg, #bdc3c7, #2c3e50);
    height: 100%;
}
.master-div {
    background-color: rgb(202, 214, 219);
    width: 75%;
    border-radius: 25px;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
  }

/* TOP CONTAINER */
.top-container {
}

.title {
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    padding-top: 10px;
}

/* OPTIONS CONTAINER (MIDDLE) */

.options-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    /* background-color: rgb(220, 204, 204); */
    /* width: 50%; */
    border-radius: 5px;
    /* border: solid black; */
}


.option-1, .option-2 {
    width: 40%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: gray;
}

ul {
    list-style-type: none;
    padding-left: 0; /* THIS IS REQUIRED TO CENTER THE INVISIBLE BULLET POINTS */
}

.option-header {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

select {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 6px;
}

.input-div {
    display: flex;
    justify-content: center;
}

input {
    text-align: center;
    width: 95%;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    border-radius: 5px;
    border-width: 1px;
    display: list-item;
  }

/* OUTPUT CONTAINER (BOTTOM) */
.output-disclaimer-container {
    margin-left: auto;
    margin-right: auto;
    width: 57.5%;
    margin-top: 10px;
    /* text-align: center; */
    /* background-color: rgb(225, 225, 225); */
    /* border-radius: 5px;
    border: solid;
    border-width: 1px;
    color: black; */
}

.option-multipliers {
    font-family: "Open Sans";
    color: rgb(50, 50, 80);
    font-weight: 900;
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
    /* width: 125%; */
    /* border: solid black; */
}
.disclaimer-text {
    padding-bottom: 10px;
}